{
  "printWidth": 80,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.jsx",
      "options": {
        "tabWidth": 2
      }
    }
  ],
  "singleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}